<main class="body-container">
<section class="container">
    <% total_amount = 0 %>
    <% @entities.each do |entity| %>
          <% total_amount += entity.amount %>
    <% end %>
    <table>
      <thead>
      <tr>
          <th> </th>
          <th>Total Amount</th>
          <th><%= sprintf('%.2f', total_amount) %></th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Group</th>
          <th>Amount</th>
        </tr>   
      </thead>
      <tbody>
        <% @entities.each do |entity| %>
          <tr>
            <td><%= entity.name %></td>
            <td><%= entity.group.name %></td>
            <td>$<%= sprintf('%.2f', entity.amount) %></td>
            <td><%= link_to 'Edit', edit_user_group_entity_path(current_user, entity.group, entity), class:"blue-btn edit-t" %>
          <%= button_to 'Delete', user_group_entity_path(current_user, entity.group, entity), class: "delete-btn edit-t", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <div class="green-rectangle">
        <div class="white-outline">
            <%= link_to 'ADD A NEW TRANSACTION', new_user_group_entity_path, class: "green-btn" %>
        </div>
    </div>
  </section>
</main>
